body {
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.discover-poster {
	height: 250px;
	width: 175px;
}

p {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
.al {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 500px;
	height: auto;
	align-items: center;
	background-color: rgb(29, 29, 29);
	margin-bottom: 60px;
	padding: 10px;
	border-radius: 50px;
}

.al:hover {
	background-color: rgba(10, 10, 10, 1);
	box-shadow: 5px 5px 5px 5px rgba(50, 50, 50, 1);
	transform: scale(1.05);
}

.al p,
h3 {
	padding-left: 0px;
	margin-bottom: 15px;
}
.al p {
	font-size: 15px;
}

.App-discover .App-logo {
	margin-top: 100px;
	margin-left: 10px;
	height: 120px;
	width: 360px;
	justify-content: center;
	pointer-events: none;
}

@font-face {
	font-family: Bebas;
	src: url(./Bebas.otf);
}

h3 {
	font-family: Bebas;
	font-weight: normal;
	color: rgb(255, 67, 16);
}

input {
	font-family: Bebas;
	text-align: center;
	padding-top: 4px;
	margin-left: 15px;
	vertical-align: middle;
}

.discover-all {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
